.btn {
  font-family: "Poppins", "Sans-serif";
  font-size: 18px;
  font-weight: 500;
  fill: #ffffff;
  color: #ffffff;
  background-color: #c267d1;
  border-radius: 30px 30px 30px 30px;
  padding: 15px 35px 15px 35px;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  cursor: pointer;
}

.btn:hover {
  box-shadow: -1px 6px 10px 0 rgba(154, 72, 187, 0.2);
}

.btn:active {
  animation: press 0.2s 1 linear;
}
