.benefits_wrapper0, .benefits_wrapper1, .benefits_wrapper2, .benefits_wrapper3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  .header_ {
    color: #4c3347;
    font-size: 20px;
    font-weight: 600;
    font-family: "Cormorant Garamond", "serif";
  }
  .content_ {
    color: #685b65;
    font-family: "Poppins", "Sans-serif";
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.in-up {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
